<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to the App</title>
</head>
<body>
    <div style="width: 100%; overflow: hidden; ">
        <div style="width: 600px; margin-left: 20px; float: left; background-color: aqua;"> 
            <h4>Login for existing Users</h4>
            Username: <input id="userid" type="text"><br>
            Password: <input id="pass" type="password"><br>
            <button onclick="">Login</button>
        </div>
        <div style="width: 600px; margin-left: 640px; float: inline-end; background-color: coral;">
            <h4>SignUp if you are new</h4>
            Firstname: <input type="text"><br>
            Lastname: <input type="text"><br>
            Username: <input type="text"><br>
            Password: <input type="text"><br>
            <button>SignUp</button>
        </div>
   </div>
</body>
</html>